*.bbl
*.blg
*.log
*.out
main.pdf
main_pets.pdf
*.gz
*.sublime-project
*.sublime-workspace
*.DS_Store
*.aux
*.fls
*.fdb_latexmk
*.idx
code/comparison_circuit
code/sorting_circuit
*.cmake
code/CMakeFiles/
CMakeCache.txt
code/Makefile
code/min_max_circuit
code/comparator_old.cpp
